.approve, .deny {
    height: 3vh;
    width: 3vw;
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(31, 132, 248);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.deny {
    background-color: red;
}

#updatePanel > * {
    font-family: -apple-system, sans-serif;
}

#updatePanel > .card {
    height: 80vh;
    width: 70vw;
}

h3 {
    margin-top: 5%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

table > * {
    text-align: center;
    padding: 0.2vh;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 0.2vh;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

tr:last-child {
    width: 5vw;
}